@import "../../style.css";

/** modify the placeholder font */
::-webkit-input-placeholder{
    font-family: var(--font);
} 

::-moz-placeholder {
    font-family: var(--font);
}

::-moz-placeholder {
    font-family: var(--font);
}

::-moz-placeholder {
    font-family: var(--font);
}

/** other styling */
.input {
    border-radius: var(--border-radius);
    border: 2px solid var(--sub-darker-color);
    
    padding: 10px 5px;
    margin: 2px 10px;

    width: 20vw;

    font-family: var(--font);

}

.input:focus {
    border: 2px solid var(--darker-color);
}

.text-area {
    border-radius: var(--border-radius);
    border: 2px solid var(--sub-darker-color);
    
    padding: 10px 5px;
    margin: 2px 10px;

    width: 20vw;
    height: 30vh;
    
    resize: none;
}

.invalid-input {
    font-size: 14px;
    color: red;
    display: block;
}