.content {
  border: 1px solid purple;
  height: 100vh;

  padding: 10vh 20vw;

  font-family: "Poppins", "sans-serif";
}

.primary-bg {
  background-color: #39374d;
  color: #ffffff;
}

.secondary-bg {
  background-color: #39374d49;

  color: #39374d;
}

/** Navigation Bar */
.navigation-spacer {
  height: 8vh;
  display: flex;
}

.navigation-menu {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 8vh;
  width: 100vw;

  background-color: #39374d;
  color: #ffffff;

  font-family: "Poppins", "sans-serif";
  font-size: 16px;
  font-weight: 300;

  z-index: 10; /** make it on the upper layer */
}

.navigation-logo {
    cursor: pointer;
}

.navigation-items {
  display: flex;

  justify-content: space-around;
  width: 40%;
}

.navigation-item {
  list-style: none;
}

.navigation-item-link {
  text-decoration: none;
  color: #ffffff;
}

.navigation-item-link:hover {
  border-bottom: 2px solid #75aadc;
  cursor: pointer;
}

.navigation-item > .navigation-active-link {
  border-bottom: 2px solid #75aadc;
}








/** for mobile */
@media screen and (max-width: 768px) {
  .navigation-menu {
    flex-direction: column;
  }

  .navigation-items {
    flex-direction: column;
    margin-top: 10px;
  }

  .navigation-item {
    margin: auto;
    margin-top: 15px;
  }

  /** Navigation Bar */
.navigation-spacer {
    flex-direction: column;
  }
}
